.new-course {
    display: grid;
    padding: 1rem;

    &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: end;

        &-textarea {
            grid-column: 1/3;
            resize: none;
        }
    }

    &__button {
        align-self: center;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
